* {
  box-sizing: border-box;
}

::-moz-selection { 
  background: black; 
  color: white; 
  text-shadow: none; 
}

::selection { 
  background: black; 
  color: white; 
  text-shadow: none; 
}

html {
  font-family: sans-serif;
  line-height: 1.5;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  margin: 0;
  font-family: $f-regular;
  font-weight: 400;
  font-size: calc((14px) + .25vw);
  color: $c-text;
  -webkit-font-smoothing: antialiased;
  background-color: $c-background_body;
  overflow-x: hidden;
  width: 100%;
}

figure {
  margin: 0;
  padding: 0;
}

img {
  display: inline-block;
  width: auto;
  max-width: 100%;
  height: auto;
}

p:empty {
  display: none;
}

p img {
  margin-bottom: 0.5em; /* a small bottom margin prevents content floating under images */
}

address {
  font-style: normal;
  
  p {
    margin: 0;
  }
}

.video-youtube {
  position: relative;
}

.embed-container { 
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%; 
} 

.embed-container iframe, 
.embed-container object, 
.embed-container embed { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  z-index: 1;
}

.network {

  ul {
    @include reset-list();
    display: flex;

    li {
      margin: 0 1em 0 0;

      @include mappy-bp(screen-sm) {
        margin: 0 0.5em 0 0;  
      }

      @include mappy-bp(screen-md) {
        margin: 0 1em 0 0;  
      }

      &:last-child {
        margin: 0;
      }
    }
  }

  a {
    display: block;

    svg {
      height: 20px;
      width: auto;

      @include mappy-bp(screen-sm) {
        height: 25px; 
      }

      path,
      circle {
        fill: $green;
      }

      polygon {
        fill: $green;
      }
    }
  }
}

#intro-header {
  position: relative;

  figure {
    img {
      display: block;
      width: 100%;
      min-height: 300px;
      object-fit: cover;
      object-position: right center;
    }
  }

  div {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    h1 {
      color: white;
      width: 100%;
      padding: 0 2.5%;
      text-align: center;
      text-shadow: 1px 1px 5px rgba(0,0,0,0.5);

      @include mappy-bp(screen-md) {
        font-size: calc(1.8rem + 1.2vw);
      }

      @include mappy-bp(screen-lg) {
        font-size: calc(2.2rem + 1.2vw);
      } 

      span {
        display: block;
      }
    }
  }
}