.main-navigation {
	clear: both;
	//display: block;
	//float: left;
	width: 100%;

	//@include mappy-bp(screen-md) {
	    display: flex;
	    //flex-direction: column;
	    text-align: right;
	    justify-content: flex-end; 
	    align-items: center;
	    margin: 0;
	//}

	.nav-inner {
		padding: 2em 0;
		text-align: center;

		//@include mappy-bp(screen-md) {
			padding: 0;
			text-align: left;
			display: flex;
			align-items: flex-end;
			flex-direction: column-reverse;
		//}
	}

	ul {
		@include reset-list();
	}

	ul ul {
		background-color: $main-nav-submenu-bg;
		margin: 0 0 0 0.5em;

		@include mappy-bp(screen-md) {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;
			margin: 0;
		}
	}

	ul ul ul {
		@include mappy-bp(screen-md) {
			left: -999em;
			top: 0;
		}
	}

	ul ul li:hover > ul,
	ul ul li.focus > ul {
		left: 100%;
	}

	ul ul a {
		width: 200px;
	}

	ul li:hover > ul,
	ul li.focus > ul {
		left: auto;
	}

	ul li {
		@include mappy-bp(screen-md) {
		  display: inline-block;
		  position: relative;
		}
	}

	a {
		display: block;
		padding: 0 0.25em;
		color: $main-nav-link-color;
		text-decoration: none;

		&:hover {
			color: $main-nav-link-hover-color;
		}
	}


	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}

	.current-menu-item > a {
		//color: $main-nav-active-color;
	}

	.network a svg circle, 
	.network a svg path, 
	.network a svg polygon {
	    fill: white;
	}

	a.single-lang-switch {
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  margin-left: 0.5em;
	  text-transform: uppercase;
	  display: inline-block;
	  padding: 0 .25em;
	  border-radius: 5px;
	  border: 1px solid white;
	  color: white;
	  background-color: transparent;
	  position: relative;
	  top: -3px;
	  font-size: 90%;

	  &:hover {
	    background-color: $green;
	    color: white;
	  }

	  @include mappy-bp(screen-sm) {
	    margin-left: 1em;
	    font-size: 100%;  
	  }

	  img {
	    width: 28px;
	    height: 28px;

	    @include mappy-bp(screen-md) {
	      width: 32px;
	      height: 32px;
	    }
	  }
	}

	.network ul li {
		margin: 0 0.5em 0 0;
	}

	ul.mobile-cart {
		margin: 0 1em;
	}

	a.cart-contents {
		//@include text-hide();
		display: block;
		width: 34px;
		height: 31px;
		background: transparent url('img/my-cart.svg') 0 0 no-repeat;
		position: relative;

      span.cart-link {
        visibility: hidden;
        display: none;
      }

      span.cart-contents-count {
      	display: inline-block;
      	width: 20px;
      	height: 20px;
      	line-height: 20px;
      	border-radius: 50%;
      	text-align: center;
      	background-color: $black;
      	color: white;
      	position: absolute;
      	top: -5px;
      	right: -15px;
      	font-size: 80%;
      }

	}
}



.menu-toggle {
	//position: absolute;
	//top: 1.5em;
	//right: 2.5%;
	display: inline-block;
	width: auto;
	background-color: transparent;
	border: none;
	padding: 0;
	position: relative;
	top: -2px;
	position: relative;
	z-index: 999;
	margin-left: 0;

	&:hover {
		background-color: transparent;
	}

	.label {
		display: none;
	}

	.burger-line {
		@include transition-default();
		display: block;
		width: 25px;
		height: 2px;
		background-color: white;

		@include mappy-bp(screen-sm) {
			width: 37px;
			height: 3px;
		}


		&:nth-child(2) {
			margin: 5px 0;
		}
	}


	&:hover {
		.burger-line {
			//background-color: white;
		}
	}


}

.main-navigation {
	.nav-inner {
	  @include transition-default();
	  clear: both;
	  display: block;
	  //float: left;
	  width: 100%;
	  height: 100vh;
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  justify-content: center;
	  margin: 0;
	  background-color: rgba($dark-green, 0.9);
	  position: fixed;
	  top: 0;
	  right: -100%;
	  z-index: 888;

	}

	&.toggled {
		.nav-inner {
			display: flex;
			right: 0;
		}
	}
}

.primary-menu {
	ul {
		display: flex;
		flex-direction: column;
		text-align: center;
		
		li {
			a {
				color: rgba(white, 0.8);
				text-transform: uppercase;
				font-family: $f-title;
				font-size: 150%;
				font-weight: 700;

				@include mappy-bp(screen-sm) {
					font-size: 250%;
				}	

				&:hover {
					color: white;
				}
			}
		}
	}

	ul li.appart {
		a {
			font-size: 130%;

			@include mappy-bp(screen-sm) {
				font-size: 200%;			
			}		
		}
	}

	.languages {
		flex-direction: row;
		align-items: center;
		justify-content: center;

		img {
			width: 32px;
		}
	}
}

.secondary-menu {
	margin: 2em 0 0;

	@include mappy-bp(screen-xs) {
	    display: flex;
	    justify-content: flex-end; 
	    align-items: center;
	   // margin: 0.5em 0 1em;
	}

	ul {
		li {
			&:first-child {
				a:after {
					@include mappy-bp(screen-xs) {
						margin-left: 0.25em;
						content: ' - ';
					}
				}
			}
		}
	}

	a {
		text-align: center;
		font-size: 110%;
		color: rgba(white, 0.8);
		text-transform: uppercase;

		&:hover {
			color: white;
		}
	}

	> * {
		@include mappy-bp(screen-md) {
			margin: 0 0.5em 0 0;
		}
	}

}

#masthead .main-navigation.toggled {

	.burger-line {
		background-color: #fff;
	}

  .burger-line:nth-child(1) {
    transform: rotate(45deg);
  }

  .burger-line:nth-child(2) {
    transform: rotate(-45deg);
    margin: -3px 0 0 0;
  }

  .burger-line:nth-child(3) {
    opacity: 0;
  }  
}
