#masthead {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;

	.admin-bar & {
		//top: 46px;

		@include mappy-bp(screen-md) {
			top: 32px;
		}
	}
}

body {
	padding-top: $masthead-height;

	&.sticky-menu {
		
		#masthead {
			background-color: rgba($dark-green, 0.85);
			box-shadow: -1px 10px 20px 0 rgba(0,0,0,.25);

			.site-title {
				background: transparent url('img/left-and-right-white.svg') 0 0 no-repeat;
				width: 110px;
				height: 35px;
			} 

			.secondary-menu {
				@include mappy-bp(screen-md) {
					display: none;
				}
			}

			.network a svg circle, 
			.network a svg path, 
			.network a svg polygon {
			    fill: white;
			}

			.menu-toggle .burger-line {
				background-color: #fff;
			}

			a.single-lang-switch {
				color: white;
				border-color: white;
			}

		}
	}

	&.menu-open {
		overflow: hidden;

		@include mappy-bp(screen-md) {
			overflow: auto;	
		}

		.nav-inner {
			max-height: calc(100vh - #{$masthead-height});
			overflow: auto;
		}
	}
}