.woocommerce-checkout,
.woocommerce-cart,
.woocommerce-account,
.single-product {
  main {
    width: 90%;
    max-width: 1300px;
    margin: 4em auto;
  }
}

.woocommerce-breadcrumb {
  display: none;
}

.woocommerce div.product form.cart .button {
  position: relative;
  top: 5px;
}

.stock {
  display: none;
}

.woocommerce table.shop_attributes td {
  font-style: normal;
  padding: 8px;

  p {
    margin: 0;
    padding: 0;
  }
}

aside#secondary {
  display: none;
}

a.wc-block-components-product-name {
  font-weight: 700;
  text-decoration: none;
}

.wc-block-cart__submit-container {

  a {
    background-color: $green;
    color: white;
    font-family: $f-title;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
  }
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
  //background-color: rgba(0, 0, 0, .025);
}

.woocommerce div.product div.images .flex-control-thumbs li {
  width: 20%;
  clear: none !important;
}

body.woocommerce-cart,
body.woocommerce-checkout,
body.woocommerce-account {
  #primary {
    .entry-title {
      display: none;
    }
  }
}

.woocommerce-MyAccount-navigation {
  background-color: #f2f2f2;
  padding: 2em;
  border-radius: 5px;
  margin: 0 0 4em;

  ul {
    @include reset-list();
  }
}

.wp-block-woocommerce-empty-cart-block {
  .cta {
    text-align: center;
    margin: 2em 0 4em;
  }
}